In [25]:
# Importing customer info
import pandas as pd
customer_info = pd.read_csv("ecommerce_customer_features.csv")
display(customer_info.head())

# Importing target info
import pandas as pd
targets = pd.read_csv("ecommerce_customer_targets.csv")
display(targets.head())

# Merging the datasets with an inner join
df = customer_info.merge(targets, on="Customer_ID", how="inner")

# Viewing the head and tail
df.head()
df.tail()

,Customer_ID,account_age_months,avg_order_value,total_orders,days_since_last_purchase,discount_usage_rate,return_rate,customer_support_tickets,loyalty_member,browsing_frequency_per_week,cart_abandonment_rate,product_review_score_avg,engagement_score,satisfaction_score,price_sensitivity_index
0,0520df14-712d-4c69-a0c5-95a2e7dfc1ff,46,164.96,12,17,0.243,0.1720,0,No,6.1,0.430,5.00,6.58,9.43,3.7
1,a4013b3f-0688-4096-a194-6074be8ffec8,3,39.09,4,5,0.591,0.0808,1,No,4.1,0.183,4.44,6.25,8.50,6.9
2,eb870f2c-ed3d-4a21-a8ac-273fae69ea4f,29,37.42,8,47,0.212,0.1424,0,No,1.2,0.426,3.87,3.32,8.40,4.3
3,a7433451-8ea9-428a-9d80-679c6963b39f,35,62.64,9,3,0.699,0.0128,0,No,3.8,0.730,4.75,6.42,9.71,7.5
4,43f81935-49e3-44d3-94d1-5c4715738988,39,113.03,1,7,0.382,0.0232,0,No,5.4,0.613,5.00,6.48,9.92,5.0

                            Customer_ID churned
0  0520df14-712d-4c69-a0c5-95a2e7dfc1ff      No
1  a4013b3f-0688-4096-a194-6074be8ffec8      No
2  eb870f2c-ed3d-4a21-a8ac-273fae69ea4f      No
3  a7433451-8ea9-428a-9d80-679c6963b39f      No
4  43f81935-49e3-44d3-94d1-5c4715738988      No

,Customer_ID,account_age_months,avg_order_value,total_orders,days_since_last_purchase,discount_usage_rate,return_rate,customer_support_tickets,loyalty_member,browsing_frequency_per_week,cart_abandonment_rate,product_review_score_avg,engagement_score,satisfaction_score,price_sensitivity_index,churned
5995,7e6f01d6-a7bb-429e-91d1-7c929547852b,2,77.48,1,22,0.066,0.0056,1,No,7.6,0.773,4.55,6.47,8.86,3.0,No
5996,4874448f-192d-4c5a-a21b-80d02b70c0e4,52,49.06,27,23,0.135,0.0224,0,No,1.1,0.863,5.00,5.12,9.93,3.7,No
5997,6a5b9ad3-7488-40e9-95b7-ad0ea7354f51,8,66.12,1,14,0.127,0.0352,0,No,1.5,0.732,3.23,4.83,8.11,3.5,No
5998,3306b81f-13df-4ae9-947d-deaaf7723279,4,103.95,3,1,0.231,0.0288,0,No,1.7,0.509,5.00,5.62,9.90,4.0,No
5999,48867913-4bb5-4823-87f0-dd405e3970e4,9,35.17,1,24,0.664,0.0968,1,No,1.3,0.935,4.17,4.27,8.18,7.4,No

In [26]:

# Data shape and columns
print("SHAPE:", df.shape)
print("\nCOLUMNS:")
print(df.columns)

# Data info
print("\nINFO:")
df.info()

# Data summary statistics 
print("\nDESCRIBE:")
display(df.describe())

# Looking for missing values
print("\nMISSING VALUES (%):")
display((df.isnull().sum() / len(df)) * 100)

# Looking for duplicates
print("\nDUPLICATE ROWS:", df.duplicated().sum())
print("DUPLICATE Customer_ID:", df["Customer_ID"].duplicated().sum())

SHAPE: (6000, 16)

COLUMNS:
Index(['Customer_ID', 'account_age_months', 'avg_order_value', 'total_orders',
       'days_since_last_purchase', 'discount_usage_rate', 'return_rate',
       'customer_support_tickets', 'loyalty_member',
       'browsing_frequency_per_week', 'cart_abandonment_rate',
       'product_review_score_avg', 'engagement_score', 'satisfaction_score',
       'price_sensitivity_index', 'churned'],
      dtype='object')

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  6000 non-null   object
 1   account_age_months           6000 non-null   int64
 2   avg_order_value              6000 non-null   float64
 3   total_orders                 6000 non-null   int64
 4   days_since_last_purchase     6000 non-null   int64
 5   discount_usage_rate          6000 non-null   float64
 6   return_rate                  6000 non-null   float64
 7   customer_support_tickets     6000 non-null   int64
 8   loyalty_member               6000 non-null   object
 9   browsing_frequency_per_week  6000 non-null   float64
 10  cart_abandonment_rate        6000 non-null   float64
 11  product_review_score_avg     6000 non-null   float64
 12  engagement_score             6000 non-null   float64
 13  satisfaction_score           6000 non-null   float64
 14  price_sensitivity_index      6000 non-null   float64
 15  churned                      6000 non-null   object
dtypes: float64(9), int64(4), object(3)
memory usage: 750.1+ KB

DESCRIBE:

,account_age_months,avg_order_value,total_orders,days_since_last_purchase,discount_usage_rate,return_rate,customer_support_tickets,browsing_frequency_per_week,cart_abandonment_rate,product_review_score_avg,engagement_score,satisfaction_score,price_sensitivity_index
count,6000.000000,6000.000000,6000.00000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,30.806667,80.487945,8.56750,29.598167,0.285057,0.071519,0.857667,3.076683,0.602106,3.879603,4.883687,8.069722,4.513517
std,17.358115,55.044707,9.88833,29.452645,0.158112,0.065077,0.977702,1.893899,0.201053,0.776396,1.479473,1.241928,1.150608
min,1.000000,10.000000,1.00000,0.000000,0.003000,0.000000,0.000000,0.000000,0.032000,1.000000,1.000000,2.300000,1.000000
25%,16.000000,44.525000,1.00000,9.000000,0.162000,0.022400,0.000000,1.600000,0.455000,3.350000,4.080000,7.320000,3.600000
50%,31.000000,67.225000,5.00000,20.000000,0.265000,0.052800,1.000000,3.000000,0.615000,3.920000,5.120000,8.230000,4.400000
75%,46.000000,100.685000,13.00000,41.000000,0.387000,0.102400,1.000000,4.400000,0.763000,4.490000,5.930000,9.000000,5.200000
max,60.000000,1006.530000,85.00000,261.000000,0.895000,0.493600,6.000000,10.300000,0.999000,5.000000,8.720000,10.000000,8.600000

MISSING VALUES (%):

Customer_ID                    0.0
account_age_months             0.0
avg_order_value                0.0
total_orders                   0.0
days_since_last_purchase       0.0
discount_usage_rate            0.0
return_rate                    0.0
customer_support_tickets       0.0
loyalty_member                 0.0
browsing_frequency_per_week    0.0
cart_abandonment_rate          0.0
product_review_score_avg       0.0
engagement_score               0.0
satisfaction_score             0.0
price_sensitivity_index        0.0
churned                        0.0
dtype: float64

DUPLICATE ROWS: 0
DUPLICATE Customer_ID: 0

In [27]:
# Connecting SQL database
!pip install duckdb
import duckdb
con = duckdb.connect()
con.register("raw_customers", df)

# Executing SQL query
clean_df = con.execute("""
-- Table
WITH clean_df AS (
  SELECT
    Customer_ID,
    account_age_months,
    avg_order_value,
    total_orders,
    days_since_last_purchase,
    discount_usage_rate,
    return_rate,
    customer_support_tickets,
    browsing_frequency_per_week,
    cart_abandonment_rate,
    product_review_score_avg,
    engagement_score,
    satisfaction_score,
    price_sensitivity_index,

    -- Encode categoricals
    CASE WHEN LOWER(TRIM(loyalty_member)) IN ('yes','y','true','1','member') THEN 1 ELSE 0 END AS loyalty_flag,

    CASE WHEN LOWER(TRIM(churned)) IN ('yes','y','true','1','churned') THEN 1 ELSE 0 END AS churn_label,

    -- Feature Engineering
    (avg_order_value * total_orders) AS est_lifetime_revenue,

    CASE WHEN days_since_last_purchase >= 60 THEN 1 ELSE 0 END AS dormant_60d,

    CASE
      WHEN account_age_months > 0 THEN total_orders * 1.0 / account_age_months
      ELSE NULL
    END AS orders_per_month
  FROM raw_customers
  WHERE Customer_ID IS NOT NULL
)
SELECT *
FROM clean_df
WHERE
  churn_label IS NOT NULL
  AND account_age_months >= 0
  AND avg_order_value >= 0
  AND total_orders >= 0
  AND days_since_last_purchase >= 0
  AND discount_usage_rate BETWEEN 0 AND 1
  AND return_rate BETWEEN 0 AND 1
  AND cart_abandonment_rate BETWEEN 0 AND 1
  AND product_review_score_avg BETWEEN 0 AND 5
  AND engagement_score BETWEEN 0 AND 10
  AND satisfaction_score BETWEEN 0 AND 10;
""").fetchdf()

clean_df.head()

Requirement already satisfied: duckdb in c:\users\savan\anaconda3\lib\site-packages (1.4.4)

,Customer_ID,account_age_months,avg_order_value,total_orders,days_since_last_purchase,discount_usage_rate,return_rate,customer_support_tickets,browsing_frequency_per_week,cart_abandonment_rate,product_review_score_avg,engagement_score,satisfaction_score,price_sensitivity_index,loyalty_flag,churn_label,est_lifetime_revenue,dormant_60d,orders_per_month
0,0520df14-712d-4c69-a0c5-95a2e7dfc1ff,46,164.96,12,17,0.243,0.1720,0,6.1,0.430,5.00,6.58,9.43,3.7,0,0,1979.52,0,0.260870
1,a4013b3f-0688-4096-a194-6074be8ffec8,3,39.09,4,5,0.591,0.0808,1,4.1,0.183,4.44,6.25,8.50,6.9,0,0,156.36,0,1.333333
2,eb870f2c-ed3d-4a21-a8ac-273fae69ea4f,29,37.42,8,47,0.212,0.1424,0,1.2,0.426,3.87,3.32,8.40,4.3,0,0,299.36,0,0.275862
3,a7433451-8ea9-428a-9d80-679c6963b39f,35,62.64,9,3,0.699,0.0128,0,3.8,0.730,4.75,6.42,9.71,7.5,0,0,563.76,0,0.257143
4,43f81935-49e3-44d3-94d1-5c4715738988,39,113.03,1,7,0.382,0.0232,0,5.4,0.613,5.00,6.48,9.92,5.0,0,0,113.03,0,0.025641

4915